apiVersion: apps/v1
kind: Deployment
metadata:
  name: new-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: 828182725743.dkr.ecr.us-west-2.amazonaws.com/myimages:mynginx2
        ports:
        - containerPort: 80